<div *ngIf="!userNotFound" class="animated fadeIn ">
    <div>

     

        <div class="row">
            <div class="
                        mt-1

                        col-4
                        col-sm-4
                        col-md-6
                        col-lg-8
            ">
    
                <h1 >Perfil</h1>
            </div>
    
            <div class=" w-100 mt-2

                        col-8
                        col-sm-8
                        col-md-6
                        col-lg-4"
                        
                       >
    
                <div *ngIf="!isOtherProfile" class=" animated fadeIn">
                    
                    <button (click)="edit()"
                     style="float: right;" 
                     class=" mr-2 btn animated fadeIn fast"
                     [ngClass]="{'btn-info' : !toEdit, 'btn-danger': toEdit}"
                     [disabled]="editingInfo"
                     >
                        {{toEdit? 'Cancelar': 'Editar'}}
                        <i *ngIf="!toEdit" class="ml-2 fas fa-pen"></i>
                    </button>

                    <button *ngIf="toEdit" (click)="uploadPhoto()"
                     style="float: right;" class="btn btn-success mr-2 animated fadeIn fast"
                     [disabled]="editingInfo"
                     >
                        {{ editingInfo? 'Guardando...': 'Guardar'}}
                        <i 
                        [ngClass]="{'fa-save': !editingInfo, 'fa-sync fa-spin': editingInfo}"
                        class="ml-2 fas fa-save"></i>
                    </button>
                    
                </div>
    
            </div>
    
        </div>
       
        <hr class="mb-2">

        <div *ngIf="charg" class="alert alert-success" role="alert">
          Cargando... 
          <i class=" ml-1 fas fa-sync fa-spin"></i>
        </div>

        <div *ngIf="!charg" class="row animated fadeIn fast mt-4">
        
            <div class=" 
                        col-lg-2
                        col-md-3
                        col-sm-4
                        col-4">
                <div class="foto" style=" cursor: pointer; background-color: whitesmoke; width: 140px; height: 140px; overflow: hidden; border-radius: 50%;">

                  <img (click)="seePic()" class="img-fluid" [src]="foto" >
                </div>

                <label *ngIf="toEdit" class="custom-file-upload mt-3">
                  <input (change)="encodeImage($event)" type="file" id="formFile"/>
                  Foto
                </label>
                <!-- <input type="file" class="btn btn-primary animated fadeIn mt-2 btn-block" placeholder="Foto" style="color: white !important;" *ngIf="toEdit"> -->
            </div>

            <div *ngIf="!toEdit" class="
                        animated fadeIn
                        col-lg-10
                        col-md-9
                        col-sm-8
                        col-8">

                        <h3>{{currentUser.name + ' ' + currentUser.lName}}</h3>
                        <span>@{{currentUser.user}}</span>
                        
                        <b>
                          <h5 class="mt-1">
                            Fans: <span class="text-warning">{{currentUser.fans?.length}}</span>
                          </h5>
                        </b> 
                        <br>
                        <button *ngIf="isOtherProfile && !isFans" (click)="addFans(username)" class="btn btn-outline-warning mt-2">
                          <i class="fas fa-star mr-1"></i>
                          Favorito
                        </button>

                        <button *ngIf="isOtherProfile && isFans" (click)="deleteFans(username)" class="btn btn-warning mt-2">
                          <i class="fas fa-star mr-1"></i>
                          Eres fanatico
                        </button>
            </div>
            <div *ngIf="toEdit" class="
                        animated fadeIn
                        col-lg-10
                        col-md-10
                        col-sm-8
                        col-8">
                        <label for="name">NOMBRE</label>
                        <input id="name" class="form-control w-50 mb-2" [(ngModel)]="editedUserData.name" placeholder="Nombre" type="text" >
                        <label for="lName">APELLIDO</label>
                        <input id="lName" class="form-control w-50" [(ngModel)]="editedUserData.lName" placeholder="Apellido" type="text">
                        
            </div>
            
        </div>

    </div>

    <div class="row mt-4" style="margin-bottom: 40px;">

      <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-3">
          <h3 >{{isOtherProfile? 'Sus records': 'Mis records'}}</h3>
          <div class="mt-3" >

            <div *ngIf="userLoggedScores.length == 0" class="alert alert-info" role="alert">
              Este usuario no ha regitrado ningun record.
            </div>

            <ol class="list-group list-group-numbered ">
              
              <li class="list-group-item d-flex justify-content-between align-items-start"
              *ngFor="let scores of userLoggedScores"
              >
              <div *ngIf="userLoggedScores.length > 0" class=" ms-2 me-auto">
                <div class="fw-bold "><b>{{scores.tema.title | uppercase}}</b></div>
                <div class="mt-2 ">
                  Puntos: <b class=" p-1 px-2 badge mb-1" [style.background-color]="scores.tema.bgColor">
                    {{scores.score}} 
                  </b> 
                  <br>
                  Fecha: <b class=" p-1 px-2 badge " [style.background-color]="scores.tema.bgColor">
                    {{scores.createdAt | date}} 
                  </b> 
                </div>
              </div>
            </li>       
          </ol>

        </div>
      </div>
      
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-3">
          <h3>{{isOtherProfile? 'Sus fanaticos': 'Mis fanaticos'}}</h3>
         
          <div *ngIf="currentUser.fans?.length == 0" class="alert alert-info" role="alert">
            Este usuario no tiene ningun fanatico.
          </div>         
          <div class="mt-3" >
            <ul class="list-group animated fadeIn fast">
              <li *ngFor="let user of currentUser.fans" class="list-group-item d-flex justify-content-between align-items-center">
                <div class="row">
                  <div class="col-2">

                      <div style="display: inline-block; background-color: whitesmoke; width: 50px; height: 50px; overflow: hidden; border-radius: 50%;">
                          <img class="img-fluid" src="{{user.foto == '' || user.foto == undefined? fotito: user.foto}}" >
                      </div>
                  </div>

                  <div class="col-9 offset-1 mt-3">
                      <h6 style="display: inline-block;" class="ml-3">@{{user.user}}</h6>
                  </div>
                </div>
                  <button class="btn btn-info" (click)="changeProfile(user.user)" [routerLink]="['/dashboard/profile', user.user]" >Visitar</button>
              </li>
          </ul>

        </div>
      </div>

    </div>

    <div *ngIf="!isOtherProfile" style="width: 100%; text-align: center; margin-bottom: 40px;" >
        <button class="btn btn-danger" (click)="logOut()">CERRAR SESION</button>
    </div>

</div>

<div *ngIf="userNotFound" class="animated fadIn">
  <div class="">
      <h1 >Perfil</h1>
  </div>

  <hr class="mb-5">

  <h2 class="text-center">usuario <b class="text-info">{{username}}</b> no encontrado</h2>

  <div class="text-center mb-4">
    <img src="../../../../assets/usernotfound.png" class="img-fluid" alt="">
  </div>
</div>