.custom-file-upload {
    background-color: #FFF;
    border: 1px solid #bfc9d4;
    color: #1b1b1b;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    border-radius: 6px;
    height: 40px;
  }

  input[type="file"] {
    display: none;
  }

@media only screen
and (min-width: 320px)
and (max-width: 736px)
{
/* inserta aquí tu código */
.foto {
    width: 100px !important;
    height: 100px !important;
}
}