<div class="animated fadeIn fast">

    <div>

        <div class="row">
        
            <div class="
                        col-lg-2
                        col-md-2
                        col-sm-4
                        col-4">
    
                <img width="90%" src="https://lh3.googleusercontent.com/proxy/6J7lIInw8DfuVwohXEs2uwwwwRqboFummn7o5Dqbsywl13vZPQJgCjMrYmJDo4g_SzL-Iimvy5VObO751_Ou0tklwlRr0II7ZkesWQXrYeNZiqusTvjF" >
            </div>

            <div class="
                        col-lg-10
                        col-md-10
                        col-sm-8
                        col-8">

                        <h3>Lewis Matos</h3>
                        <p>@lewis</p>
            </div>
            
        </div>

    </div>


    <div style="width: 100%; margin-top: 40px; text-align: center;">
        <button class="btn btn-danger" (click)="logOut()">CERRAR SESION</button>
    </div>

</div>