<div class="animated fadeIn" >
    <div class="row">
        <div class="
                    mt-1
                    col-12
                    col-sm-6
                    col-md-6
                    col-lg-8">

            <h3 class="h1">Buscar Personas</h3>
        </div>
        <div class=" w-100 mt-2
                    
                    col-12
                    col-sm-6
                    col-md-6
                    col-lg-4"                    
                   >
            <div class="search" style="color: rgb(27, 27, 27) !important;">
                <input (keyup)="search(uN.value.trim())" #uN type="text"  placeholder="Buscar usuario">
                <i class="fa fa-fw fa-search"></i>
            </div>

            <input disabled style="background-color: rgba(255, 255, 255, 0); width: 0px; height: 0px; border: solid 1px rgba(255, 255, 255, 0);" type="text"  #uN (keyup)="search(uN.value.trim())" >

        </div>

    </div>

    <div class="mb-5">
        <h4>Usuarios</h4>

            <div *ngIf="charg" class="alert alert-success" role="alert">
                Cargando... 
                <i class=" ml-1 fas fa-sync fa-spin"></i>
            </div>

            <ul *ngIf="!obs" class="list-group animated fadeIn fast">
                <li *ngFor="let user of allUsers" class="list-group-item d-flex justify-content-between align-items-center">
                   <div class="row">
                       <div class="col-2">

                           <div style="display: inline-block; background-color: whitesmoke; width: 50px; height: 50px; overflow: hidden; border-radius: 50%;">
                               <img class="img-fluid" src="{{user.foto == '' || user.foto == undefined? fotito: user.foto}}" >
                           </div>
                       </div>

                       <div class="col-9 offset-1 mt-3">
                           <h6 style="display: inline-block;" class="ml-3">@{{user.user}}</h6>
                       </div>
                   </div>
                    <button class="btn btn-info" (click)="visit(user.user)" [routerLink]="['/dashboard/profile', user.user]" >Visitar</button>
                </li>
            </ul>
            
        <ul *ngIf="obs" class="list-group animated fadeIn fast">
            <li *ngFor="let user of usersFiltered" class="list-group-item d-flex justify-content-between align-items-center">
                <div class="row">
                    <div class="col-2">

                        <div style="display: inline-block; background-color: whitesmoke; width: 50px; height: 50px; overflow: hidden; border-radius: 50%;">
                            <img class="img-fluid" src="{{user.foto == '' || user.foto == undefined? fotito: user.foto}}" >
                        </div>
                    </div>

                    <div class="col-9 offset-1 mt-3">
                        <h6 style="display: inline-block;" class="ml-3">@{{user.user}}</h6>
                    </div>
                </div>
              <button class="btn btn-info" (click)="visit(user.user)" [routerLink]="['/dashboard/profile', user.user]" >Visitar</button>
            </li>
        </ul>

        <div class="alert alert-danger animated fadeIn " role="alert" *ngIf="obs && usersFiltered.length === 0">
            Su termino de busqueda no pertenece a ningun nombre de usuario! <i class="far fa-frown"></i>
          </div>

    </div>
  
</div>