<div class="animated fadeIn" >
    <div class="row">
        <div class="
                    mt-1
                    col-12
                    col-sm-6
                    col-md-6
                    col-lg-8">

            <h1 >Buscar Personas</h1>
        </div>
        <div class=" w-100 mt-2
                    
                    col-12
                    col-sm-6
                    col-md-6
                    col-lg-4"                    
                   >
            <div class="search" style="color: rgb(27, 27, 27) !important;">
                <input (keyup)="search(uN.value.trim())" #uN type="text"  placeholder="Buscar usuario">
                <i class="fa fa-fw fa-search"></i>
            </div>

        </div>

    </div>

    <div class="mt-2">
        <h4>Usuarios</h4>
            <ul *ngIf="!obs" class="list-group animated fadeIn fast">
                <li *ngFor="let user of allUsers" class="list-group-item d-flex justify-content-between align-items-center">
                    <b>@{{user.user}}</b>
                    <button class="btn btn-info" [routerLink]="['/dashboard/profile', user.user]" >Visitar</button>
                </li>
            </ul>
            
        <ul *ngIf="obs" class="list-group animated fadeIn fast">
            <li *ngFor="let user of usersFiltered" class="list-group-item d-flex justify-content-between align-items-center">
              <b>@{{user.user}}</b>
              <button class="btn btn-info" [routerLink]="['/dashboard/profile', user.user]" >Visitar</button>
            </li>
        </ul>

        <div class="alert alert-danger animated fadeIn " role="alert" *ngIf="obs && usersFiltered.length === 0">
            Su termino de busqueda no pertenece a ningun nombre de usuario! <i class="far fa-frown"></i>
          </div>

    </div>
  
</div>