<div class="row">
    

    <div class="bg col-12"> 
      
      <div class="">
        <div class="">
          <h4 class="m-4">NEUMORPHISM UI by Lewis Matos</h4>

          <h4>CARDS</h4>
        </div>
        <div class="crd ">
         
         <div class="crd-tt">
          <label>TITTLE</label>
         </div> 
         <div class="crd-bd">
          <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore repudiandae optio quidem ipsam quas! Modi nihil possimus quae vero autem tempore optio id illum voluptates eius. Neque accusantium voluptatibus eaque?</span>
         </div>
        </div>
        <div class="crd mt-4">
         
         <div class="crd-tt">
          <label>TITTLE</label>
         </div > 
         <div class="crd-cont-img">

           <img class="crd-img" src="https://avatars.githubusercontent.com/u/63300185?s=400&u=c525091e6ed132c5d110cb1b170e5a24093f2f2e&v=4" alt="">
         </div>
         
         <div class="crd-bd">
          <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore repudiandae optio quidem ipsam quas! Modi nihil possimus quae vero autem tempore optio id illum voluptates eius. Neque accusantium voluptatibus eaque?</span>
         </div>
        </div>
      </div>
      <div class="container mt-4">

        <h4>BUTTONS</h4>
      </div>
      <div class="container text-center">
        <button class=" but but-primary btn-block mt-4"><b >Button</b></button>
        <button class=" but but-secondary btn-block mt-4"><b >Button</b></button>
        <button class=" but but-success btn-block mt-4"><b >Button</b></button>
        <button class=" but but-info btn-block mt-4"><b >Button</b></button>
        <button class=" but but-warning btn-block mt-4"><b >Button</b></button>
        <button class=" but but-danger btn-block mt-4"><b>Button</b></button>
        <button class=" but but-dark btn-block mt-4"><b >Button</b></button>
        <button class=" but but-light btn-block mt-4"><b >Button</b></button>
      </div>

      <div class="container mt-4">

        <h4>ALERTS</h4>
      </div>
      <div class=" mt-4 container">
        <div class="alrt alrt-primary">
            Esto es una simple alerta!          
        </div>
        <div class="alrt alrt-secondary">
            Esto es una simple alerta!          
        </div>
        <div class="alrt alrt-success">
            Esto es una simple alerta!          
        </div>
        <div class="alrt alrt-info">
            Esto es una simple alerta!          
        </div>
        <div class="alrt alrt-warning">
            Esto es una simple alerta!          
        </div>
        <div class="alrt alrt-danger">
            Esto es una simple alerta!          
        </div>
        <div class="alrt alrt-dark">
            Esto es una simple alerta!          
        </div>
        <div class="alrt alrt-light">
            Esto es una simple alerta!          
        </div>
      
      </div>
      <div class="container mt-4">

        <h4>BADGES</h4>
      </div>
      <div class="container mt-4">
        <div class="bdg bdg-primary">B1</div>
        <div class="bdg bdg-secondary">B1</div>
        <div class="bdg bdg-success">B1</div>
        <div class="bdg bdg-info">B1</div>
        <div class="bdg bdg-warning">B1</div>
        <div class="bdg bdg-danger">B1</div>
        <div class="bdg bdg-dark">B1</div>
        <div class="bdg bdg-light">B1</div>
      </div>

      <div class="container mt-4">

        <h4>INPUT</h4>
      </div>
      <div class="container">
        <input class="inp" placeholder="user" type="text" >
        <div class="mt-4">
          <input class="inp-but" placeholder="user" type="text" >
          <button class=" but-inp but-primary">Enviar</button>
        </div>
      </div>
      <div class="container mt-4">

        <h4>CHECKS Y RADIOS</h4>
      </div>
      <div class="container">
        <input class="" placeholder="user" type="radio">
        <input class="chbx" placeholder="user" type="checkbox">      
      </div>

      <div class="container mt-4">

        <h4>NAVBAR</h4>
      </div>
        <div class="nvbr">
          <i class="nvbr-elmnt fas fa-search"></i>
          <i class="nvbr-elmnt fas fa-check"></i>
          <i class="nvbr-elmnt fas fa-sync"></i>
          <i class="nvbr-elmnt fas fa-user"></i>
        </div>

        <div class="container mt-4">

          <h4>LIST</h4>
        </div>
        <div>
          <ul class="lst-grp">
            <li class="lst-elmnt lst-elmnt-primary">Elemento de una lista</li>
            <li class="lst-elmnt lst-elmnt-secondary">Elemento de una lista</li>
            <li class="lst-elmnt lst-elmnt-success">Elemento de una lista</li>
            <li class="lst-elmnt lst-elmnt-info">Elemento de una lista</li>
            <li class="lst-elmnt lst-elmnt-danger">Elemento de una lista</li>
            <li class="lst-elmnt lst-elmnt-warning">Elemento de una lista</li>
            <li class="lst-elmnt lst-elmnt-dark">Elemento de una lista</li>
            <li class="lst-elmnt lst-elmnt-light">Elemento de una lista</li>
          </ul>
        </div>

    </div>
      
  </div>