<div class="animated fadeIn fast fondo ">
    <form [formGroup]="formData" (ngSubmit)="signUp()" >
        <div class="row">

            <div class="register-container 
                col-lg-8 offset-lg-2
                col-md-8 offset-md-2
                col-sm-8 offset-sm-2
                col-10 offset-1
            " 
            style="padding: 20px;" >
                <div class="mb-4 text-center" style="padding-top: 10px;">
                    <b>
                        <h1>Registro</h1>
                    </b>
                    <b>
                        <p style="font-size: 13px; color: rgb(87, 87, 87)">
                            Llena todos los campos para continuar.
                        </p>
                    </b>
                </div>

                <div class="row">
                    <div 
                    class=" col-lg-6
                            col-12
                    ">
                        <div class="text-start mb-4" style="padding-left: 36px; padding-right: 36px; ">
                            <label style=" font-size: 10px; float: left;">NOMBRE</label>
                            <input class="form-control" 
                            [class.is-invalid]="invalidName"
                            formControlName="name"
                            type="text" placeholder="Nombre">
                        </div>

                        <div class="text-start mb-4" style="padding-left: 36px; padding-right: 36px;">
                            <label style=" font-size: 10px;  float: left;">APELLIDO</label>
                            <input class="form-control"
                            [class.is-invalid]="invalidLName"
                            formControlName="lName"
                            type="text" placeholder="Apellido">
                        </div>
                       
                        <div class="text-start mb-4" style="padding-left: 36px; padding-right: 36px;">
                            <label style=" font-size: 10px;  float: left;">NOMBRE DE USUARIO</label>
                            <input class="form-control" 
                            formControlName="user"
                            [class.is-invalid]="invalidUser"
                            type="text" placeholder="Usuario">
                        </div>
                    </div>
                
                    <div class="col-lg-6
                                col-12">
                        <div class="text-start mb-4" style="padding-left: 36px; padding-right: 36px;">
                            <label style=" font-size: 10px;  float: left;">EMAIL</label>
                            <input class="form-control"
                            formControlName="email"
                            [class.is-invalid]="invalidEmail"
                            type="text" placeholder="e-mail">
                        </div>

                        <div class="text-start mb-4" style="padding-left: 36px; padding-right: 36px; ">
                            <label style=" font-size: 10px; float: left;">CONTRASEÑA</label>
                            <input class="form-control" 
                            formControlName="pass"
                            [class.is-invalid]="invalidPass1"
                            type="text" placeholder="Contraseña">
                        </div>

                        <div class="text-start mb-4" style="padding-left: 36px; padding-right: 36px;">
                            <label style=" font-size: 10px;  float: left;">REPETIR CONTRASEÑA</label>
                            <input class="form-control" 
                            formControlName="rPass"
                            [class.is-invalid]="invalidPass2"
                            type="text" placeholder="Contraseña">
                        </div>
                        
                    </div>
                </div>
    
                
                <div class="text-center mb-4" style="padding-left: 36px; padding-right: 36px; ">
                    <button class="btn btn-primary w-100" style="padding: 10px;" type="button">Registrarse</button>
                </div>

                <div class="text-center mt-2">

                    <b>
                        <p style="color: rgb(87, 87, 87)">O registrate con: </p>
                    </b>
                    <div class="w-100">
                        <button class="btn btn-outline-primary m-2" style="width: 110px;">Facebook</button>
                        <button class="btn btn-outline-primary m-2" style="width: 110px;">Google</button>
                    </div>

                </div>

                <div class="text-center mt-4 ">
                <div style="display: inline-block;" class="mx-1">
                    <p class="signup-link register">Ya tienes una cuenta? </p>
                </div>
                
                <div style="display: inline-block;" class="mx-1">
                    <b><a routerLink="/auth/login">Inicia sesión</a></b>
                    </div>
                    
                </div>
            </div>
        </div>
                        
    </form>

    
</div>
