<div class="container mt-3 animated fadeIn fast" >

    <div class="row pb-3">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <form action="" class="form-group" autocomplete="off">
             
                  <h3 class="mb-3 l">Agregar pregunta</h3>                              

                <label for="">SELECCIONE EL TEMA</label>
                
                <div class="dropdown mb-2 ">
                    <select id="" class="form-control"
                      name="themeSelected" [value]="allThemes[0]?.title" [(ngModel)]="tema"                     
                      (change)="changeTheme()"
                      >
                      <option #drop class="dropdown-item"  [value]="theme._id" *ngFor="let theme of allThemes"                        
                        >{{theme.title | uppercase}}
                      </option>
                    </select>
                  </div>

                <div>

                    <label class="label" for="question">PREGUNTA</label>
                    <input type="text" [(ngModel)]="questionDataFinal.desc" name="question" id="titulo" class="form-control mb-2" placeholder="Pregunta" >
                    
                    <label class="label text-success" for="respC">RESPUESTA CORRECTA</label>
                    <input type="text" [(ngModel)]="questionDataFinal.respuestas[0].desc" name="desc" id="respC" class="form-control mb-2" placeholder="Respuesta correcta" >
                    
                    <label class="label text-danger" for="respI1">RESPUESTA INCORRECTA</label>
                    <input type="text" [(ngModel)]="questionDataFinal.respuestas[1].desc"  name="desc" id="respI1" class="form-control mb-2" placeholder="Respuesta incorrecta" >
                    
                    <label class="label text-danger" for="respI2">RESPUESTA INCORRECTA</label>
                    <input type="text" [(ngModel)]="questionDataFinal.respuestas[2].desc" name="desc" id="respI2" class="form-control mb-2" placeholder="Respuesta incorrecta" >
                    
                    <label class="label text-danger" for="respI3">RESPUESTA INCORRECTA</label>
                    <input type="text" [(ngModel)]="questionDataFinal.respuestas[3].desc" name="desc" id="respI3" class="form-control mb-2" placeholder="Respuesta incorrecta" >
                                        
                   </div>
            </form>

            <button class="btn btn-success btn-block" (click)="createQuestion()">{{loading? 'Agregando...': 'Agregar pregunta'}}</button>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-4">

            <!-- <h3 class="mb-3 ">Preview de la pregunta</h3>            

            <div [style.border-color]="tBgColor" class="question-window mb-3 col-12 "
                >
                <h4 [style.color]="tBgColor">{{questionData.question}}?</h4>

                <div>
                    
                    <div class="form-check mb-2">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        {{questionData.rc}}
                      </label>
                    </div>
                    <div class="form-check mb-2">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                      <label class="form-check-label" for="flexRadioDefault2">
                          {{questionData.ri1}}
                      </label>
                    </div>
                    <div class="form-check mb-2">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                      <label class="form-check-label" for="flexRadioDefault2">
                          {{questionData.ri2}}
                      </label>
                    </div>
                    <div class="form-check mb-2">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                      <label class="form-check-label" for="flexRadioDefault2">
                          {{questionData.ri3}}
                      </label>
                    </div>
                    
                   

                </div>                


                <i class="fas fa-question float-right" [style.color]="tBgColor" style="color: white; font-size: 50px; position: absolute; bottom: 15px; right: 15px;">
                </i>
            </div> -->

        </div >        

    </div>
    
    <h3>Gestión de preguntas</h3>
    <div class="row pb-4">

      <div class="col-lg-4 col-md-3 col-sm-12 col-12 mt-3">

        <h3 class="mb-3">Temas</h3>

        <div *ngFor="let theme of allThemes" class="mb-3">
          <button (click)="sendThemeId(theme)" class="btn-block btn "[style.background-color]="theme.bgColor">{{theme.title | uppercase}}</button>
        </div>

      </div>

      <div class="col-lg-8 col-md-9 col-sm-12 col-12">

        <div class="container mt-2 animated fadeIn fast mb-3">

          
          <h3 *ngIf="v" class="mb-3 animated fadeIn fast">Preguntas de {{themeId.title}}</h3>
          
          <ol class="list-group list-group-numbered">
            
            <div *ngIf="allQData.length == 0 && v" class="alert " [ngClass]="{'alert-danger': !charg, 'alert-success': charg}">
              {{charg? 'Cargando...': 'No exiten preguntas en este tema'}}
            </div>

                  <li class="list-group-item animated fadeIn fast" *ngFor="let q of allQData; let i = index">
                      <b>
                         {{i + 1}}.  {{q.desc}}
                      </b> 
                      <div class="float-right">
                          <button (click)="edit(q)" class="btn btn-success">
                              <i class="fas fa-pen"></i>
                          </button>
                          <button (click)="deleteQuestion(q._id)" class="ml-2 btn btn-danger">
                              <i class="fas fa-trash"></i>
                          </button>
                      </div>
  
                  </li>                
             
          </ol>
      </div>

      </div>
      
      

    </div>
</div>