<div class="animated fadeIn fast fondo">

    <form [formGroup]="formData" (ngSubmit)="logIn()">
            <div class="row" >

                <div class="login-container 
                col-10 offset-1 
                col-sm-8 offset-sm-2 
                col-md-6 offset-md-3 
                col-lg-4 offset-lg-4" 
                style="padding: 20px;" >
                    <div class="mb-4 text-center" style="padding-top: 10px;">
                        <b >
                            <h1>Iniciar sesión</h1></b>
                        <b style="color: rgb(87, 87, 87)">
                            <p style="font-size: 13px;">Inicia con tu cuenta de Jopipedia.</p>
                        </b>
                    </div>
        
                    <div class="text-start mb-4" style="padding-left: 36px; padding-right: 36px; ">
                        <label class="label-g">USUARIO</label>
                        <input 
                        class="form-control" 
                        formControlName="user"
                        [class.is-invalid]="invalidUser"  
                        type="text" placeholder="Usuario">

                    </div>

                   
                    <div class="text-start mb-4" style="padding-left: 36px; padding-right: 36px;">
                        <label class="label-g">CONTRASEÑA</label>
                        <input 
                        class="form-control" 
                        [class.is-invalid]="invalidPass"  
                        formControlName="pass"
                        type="text" placeholder="Contraseña">                       
                    </div>
        
                    <div class="text-center mb-4" style="padding-left: 36px; padding-right: 36px; ">
                        <button
                        class="btn btn-primary w-100" 
                        style="padding: 10px;" 
                        type="submit">Iniciar sesión</button>
                    </div>
        
                    <div class="text-center mt-2">
                        <b style="color: rgb(87, 87, 87)">
                            <p>O inicia sesión con: </p>
                        </b>
                        <div class="w-100">
                            <button class="btn btn-outline-primary m-2" style="width: 110px;" type="button">Facebook</button>
                            <button class="btn btn-outline-primary m-2" style="width: 110px;" type="button">Google</button>
                        </div>
        
                    </div>
        
                    <div class="text-center mt-4 ">
                        <div style="display: inline-block;" class="mx-1">
                        <p class="signup-link register">Aún no tienes cuenta? </p>
                        </div>
                        
                        <div style="display: inline-block;" class="mx-1">
                            <b><a routerLink="/auth/register">Registrate</a></b>
                        </div>
                        
                    </div>
                </div>      
            </div>

    </form>
    
    
</div>
