<div class="animated fadeIn" >

    <div class="row">
        <div class="
                    mt-1

                    col-12
                    col-sm-6
                    col-md-6
                    col-lg-8
        ">
    
            <h1 >Records</h1>
        </div>
    
        <div class=" w-100 mt-2
        
                    col-12
                    col-sm-6
                    col-md-6
                    col-lg-4"                    
                   >    
            <div class="search">
              <input (keyup)="search(title.value.trim())" #title id="Buscar" type="text">
              <i class="fa fa-fw fa-search"></i>
            </div>
    
        </div>
    
    </div>
    
    
    <hr class="mb-3">

    <div *ngIf="charg" class="alert alert-success" role="alert">
      Cargando...
      <i class=" ml-1 fas fa-sync fa-spin"></i>
    </div>

      <div *ngIf="!obs" class="animtated fadeIn fast">

        <div class="mb-4" *ngFor="let title of data; let i = index">
          
          <h4 class="display-block">{{title.title | uppercase}}</h4>
          
          <table
          class="table table-bordered border-success">
          <thead  [style.background-color]="title.bgColor">
            <tr class="text-white">
              <th scope="col">#</th>
              <th scope="col">USUARIO</th>
              <th scope="col">PUNTUACION</th>
            </tr>
          </thead>
          <tbody class="animated fadeIn">
            <tr>
              <th scope="row">1</th>
              <td>ELJOPI</td>
              <td>00</td>
            </tr>                                  
          </tbody>
          </table>
      </div>

    </div>

    <div *ngIf="obs" class="animtated fadeIn">

      <div class="mb-4" *ngFor="let title of dataFiltered; let i = index">
        
        <h4 class="display-block">{{title.title | uppercase}}</h4>
        
        <table
        class="table table-bordered border-success">
        <thead  [style.background-color]="title.bgColor">
          <tr class="text-white">
            <th scope="col">#</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">PUNTUACION</th>
          </tr>
        </thead>
        <tbody class="animated fadeIn">
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
          </tr>                                  
        </tbody>
        </table>
    </div>

  </div>

  <div class="alert alert-danger animated fadeIn " role="alert" *ngIf="obs && dataFiltered.length === 0">
    Su termino de bsuqueda no pertenece a ningun titulo! <i class="far fa-frown"></i>
  </div>
        
</div>

