<div class="animated fadeIn" >

    <div class="row">
        <div class="
                    mt-1

                    col-6
                    col-sm-4
                    col-md-6
                    col-lg-8
        ">
    
            <h1 >Records</h1>
        </div>
    
        <div class=" w-100 mt-2
        
                    col-6
                    col-sm-8
                    col-md-6
                    col-lg-4"                    
                   >    
            <div class="search">
                <i class="fa fa-fw fa-search"></i>
                <input #title id="Buscar" type="text">
            </div>
    
        </div>
    
    </div>
    
    
    <hr class="mb-3">

    <div>

        <div>
            <button class="btn btn-primary mb-4" style="float: right;">
            Buscar usuario
            <i class="fas fa-search ml-1"></i>
            </button>
        </div>

        <div >
            <table class="table table-bordered border-success">
                <thead  style="background-color: rgb(216, 27, 96, 0.3);">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Quimica</th>
                    <th scope="col">Puntuación</th>
                  </tr>
                </thead>
                <tbody class="animated fadeIn">
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                  </tr>
                 
                </tbody>
              </table>
        </div>
    </div>
   
</div>

