<div class="card-container" 
  [style.background-color]="cardData.bgColor">
    <div class="card-body">
      <b><h4 class="card-title">{{cardData.title | uppercase}}</h4></b>
      <p class="card-subtitle mb-2 ">{{cardData.subTitle}}</p>
      <p class="card-desc-multi">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic alias vitae totam repudiandae magnam obcaecati cupiditate porro dolorem inventore, sapiente nesciunt dicta! Obcaecati incidunt similique ducimus, maiores iste eveniet at?</p>
    </div>
</div>