<div (click)="goTest(cardData._id)" class="card-container" 
  [style.background-color]="cardData.bgColor">
    <div class="card-body p-3">
        <h5 class="card-title mb-0 bx bx-flashing-hover"> 
          {{cardData.title | uppercase}}
          <p class="m-0 ">
            <i *ngIf="iconOnTitle" style="padding: 0px 2px;" class="{{cardData.icon}}"></i>      
          </p>
        </h5> 
        
        <div class="row">

          <div class="col-10 col-sm-12 col-md-12 col-lg-12 ">
            <p class="card-desc-multi">{{cardData.desc}}</p>
          </div>

          <div *ngIf="!iconOnTitle" class=" col-2 pl-0 pr-2 text-center bx bx-flashing " >
            <i style="font-size: 40px;" class="mt-3 {{cardData.icon}}"></i>      
          </div>
        
      </div>
    </div>
</div>