
$line-height: 1.4;
$lines: 5;

.card-desc-multi{
    display: block;
    display: -webkit-box;
    height: $line-height * $lines;
    line-height: $line-height;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}



.card-container {
    color: white !important;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px; margin-top: 10px;
    cursor: pointer;
}

.card-subtitle{
    font-style: italic;
    color: rgb(255, 255, 255, 0.6);
}