<div class="container mt-3 animated fadeIn fast" >

    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-6 col-12">
            <form action="" class="form-group">
                <h3 class="mb-3 l">Agregar Tarjeta</h3>
                <label class="label" for="titulo">TITULO</label>
                <input type="text" [(ngModel)]="data.title" name="title" id="titulo" class="form-control mb-2" placeholder="Titulo" >
                
                <label class="label" for="descipcion">DESCRIPCION</label>
                <input type="text" [(ngModel)]="data.desc" name="desc" id="descipcion" class="form-control mb-2" placeholder="Descripcion" >

                <div>
                    <label class="label" for="color">COLOR</label>
                    <input type="color"  [(ngModel)]="data.bgColor" name="bgColor" id="color" class="form-control mb-2" style="width: 40%; height: 40px;"  placeholder="Color de fondo" >

                </div>

            </form>
        </div>

        <div class="col-lg-5 col-md-5 col-sm-6 col-12">

            <h3 class="mb-3 ">Preview del tema</h3>

            <div class="animated fadeIn fast card-container" style="background-color: #808B96;" 
                [style.background-color]="data.bgColor">
                <div class="card-body">
                    <b><h5 class="card-title">{{data.title | uppercase}}</h5></b>
                    <p class="card-desc-multi">{{data.desc}}</p>
                </div>
            </div>

        </div>

        
        <div class="w-100 text-center">
            <hr>
            <button *ngIf="!toEdit" (click)="createTheme()" class="btn btn-success w-50 mt-3 animated fadeIn fast" type="button">
                <i *ngIf="saveC" class="fas fa-sync fa-spin"></i>    
                {{!saveC? 'Guardar tema': 'Guardando...'}}
            </button>
            <button *ngIf="toEdit" (click)="saveEdit()" class="btn btn-info w-50 mt-3 animated fadeIn fast" type="button">
                <i *ngIf="saveC" class="fas fa-sync fa-spin"></i>    
                {{!saveC? 'Guardar cambios': 'Guardando...'}}
            </button>

        </div>

    </div>

    <div class="container mt-5 animated fadeIn fast mb-3">
        <h3 class="mb-3">Temas</h3>

        <ol class="list-group list-group-numbered">
                <li class="list-group-item animated fadeIn" *ngFor="let theme of allThemes; let i = index">
                    <b>
                       {{i + 1}}.  {{theme.title | uppercase}}
                    </b> 
                    <div class="float-right">
                        <button (click)="editTheme(theme)" class="btn btn-success">
                            <i class="fas fa-pen"></i>
                        </button>
                        <button (click)="deteleTheme(theme._id)" class="ml-2 btn btn-danger">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>

                </li>                
           
        </ol>

    </div>

</div>

