<div class="animated fadeIn" >

    <div class="row">
        <div class="
                    mt-1
                    col-12
                    col-sm-6
                    col-md-6
                    col-lg-8
        ">

            <h1 >Jopipedia <b class="badge" style="font-size: 16px; color: rgb(165, 165, 165); background-color: rgb(218, 218, 218);"> BETA</b> </h1>
        </div>

        <div class=" w-100 mt-2
                    
                    col-12
                    col-sm-6
                    col-md-6
                    col-lg-4"                    
                   >
            <div class="search" style="color: rgb(27, 27, 27) !important;" >
                <input #title (keyup)="search(title.value.trim())" id="Buscar" placeholder="Buscar tema" type="text">
                <i class="fa fa-fw fa-search"></i>
            </div>

        </div>

    </div>
   

    <hr class="mb-3">
    
    <div *ngIf="charg" class="alert alert-success" role="alert">
        Cargando...
        <i class=" ml-1 fas fa-sync fa-spin"></i>
    </div>
    <div class="row animated fadeIn fast" style="margin-bottom: 70px;" *ngIf="!obs">


        <app-card 
        *ngFor="let cards of data"  [cardData]="cards" 
        
        class="
            animated fadeIn
            col-lg-3 
            col-md-4      
            col-sm-6 
            col-12 "
        >
        </app-card>
                
    </div >

    <div class="row animated fadeIn fast" style="margin-bottom: 70px;" *ngIf="dataFiltered.length > 0">

          
        <app-card 
        *ngFor="let cards of dataFiltered" [cardData]="cards" 
        
        class="
            animated fadeIn
            col-lg-3 
            col-md-4      
            col-sm-6 
            col-12 "
        >
        </app-card>

    </div >

    <div class="alert alert-danger animated fadeIn " role="alert" *ngIf="obs && dataFiltered.length === 0">
        Su termino de busqueda no pertenece a ningun titulo! <i class="far fa-frown"></i>
    </div>

</div>