<div class="animated fadeIn fast">

    <h1 >Tests</h1>
    <hr class="mb-5">

    <div class="row">

        <app-card bgColor="#F7DC6F" class="

                    col-lg-3 
                    col-md-4      
                    col-sm-6 
                    col-12"
        >
        </app-card>
        <app-card bgColor="#EB984E" class="

                    col-lg-3 
                    col-md-4      
                    col-sm-6 
                    col-12"
        >
        </app-card>
        <app-card bgColor="#F1948A" class="

                    col-lg-3 
                    col-md-4      
                    col-sm-6 
                    col-12"
        >
        </app-card>
        <app-card bgColor="#A9DFBF" class="

                    col-lg-3 
                    col-md-4      
                    col-sm-6 
                    col-12"
        >
        </app-card>
        <app-card bgColor="#C39BD3" class="

                    col-lg-3 
                    col-md-4      
                    col-sm-6 
                    col-12"
        >
        </app-card>
        <app-card bgColor="#2980B9" class="

                    col-lg-3 
                    col-md-4      
                    col-sm-6 
                    col-12"
        >
        </app-card>

    </div>

</div>