
<nav class="navbar nav-bg p-4" style="width: 100%;">
  
  <div class="container">
    <div class="row w-100">
      
      <div class="col-5 col-lg-5">
        <div class="row">
          <div class="col-4">
            <label class="nav-items nav-link active">
              <i class="fas fa-home"></i>
              <span id="oo" class="ml-2">Inicio</span>
            </label>
          </div>
          <div class="col-4">
            <label class="nav-items nav-link">
              <i class="far fa-clipboard"></i>
              <span id="oo" class="ml-2">Records</span>
            </label>
          </div>
          <div class="col-4">
            <label class="nav-items nav-link">
              <i class="fas fa-user"></i>
              <span id="oo" class="ml-2">Perfil</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

</nav>

