.nav-bg{
    background-color: white;
    color: black;
    font-size: 18px;
}
a{
    color: black;
}
a-w{
    color: black;
}
.btn-profile{
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 24px;
    cursor: pointer;
}


.bold{
    font-weight: bold;
}

.no-bold{
    font-weight: normal;
}