
<nav class="navbar nav-bg p-4 w-100">
  
  <div class="container">
    <div class="w-100">
      
      <div 
      >
        <div class="row">
          <div class="col-4 text-center" (click)="goHome()" >        
              <i [ngClass]="{'text-primary': activatedH}" class="fas fa-home nav-items" ></i>            
          </div>
          <div class="col-4 text-center"  (click)="goRecords()">            
              <i [ngClass]="{'text-primary': activatedR}" class="far fa-clipboard nav-items"></i>      
          </div>
          <div class="col-4 text-center"  (click)="goProfile()">          
              <i [ngClass]="{'text-primary': activatedP}" class="fas fa-user nav-items"></i>
          </div>
        </div>
        
      </div>
    </div>
  </div>

</nav>

