.nav-bg{
    background-color: white;
    color: black;
    font-size: 18px;
}

.nav-items{
    color: black;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.btn-profile{ 
    font-size: 22px;
    cursor: pointer;
}


.no-bold{
    font-weight: normal;
}