
<nav class="navbar nav-bg p-4" style="width: 100%;">
  
  <div class="container">
    <div class="w-100">
      
      <div 
      >
        <div class="row">
          <div class="col-4" >
            <p class="nav-items " routerLink="/dashboard/home" >
              <i class="fas fa-home" ></i>
              <span id="oo"  class="ml-2">Inicio</span>
            </p>
          </div>
          <div class="col-4">
            <p class="nav-items ">
              <i class="far fa-clipboard"></i>
              <span id="oo" class="ml-2">Records</span>
            </p>
          </div>
          <div class="col-4" >
            <p class="nav-items " routerLink="/dashboard/profile">
              <i class="fas fa-user"></i>
              <span id="oo" class="ml-2">Perfil</span>
            </p>
          </div>
        </div>
        
      </div>
    </div>
  </div>

</nav>

