<div>

    <h2>Administrar Servicios</h2>

    <div class="row mt-5">

        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
            <div class="card" routerLink="/admin/admin-temas">
                <div class="card-header text-center">
                    <h6 >AGREGAR TEMA</h6>
                </div>
                <div class="card-body text-center p-5">
                    <i style="font-size: 100px;" class="fas fa-book"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
            <div class="card" routerLink="/admin/admin-preguntas">
                <div class="card-header text-center">
                    <h6 >AGREGAR PREGUNTAS</h6>
                </div>
                <div class="card-body text-center p-5">
                    <i style="font-size: 100px;" class=" fas fa-question-circle"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
            <div class="card" routerLink="/admin/admin-users">
                <div class="card-header text-center">
                    <h6 >ADMINISTRAR USUARIOS</h6>
                </div>
                <div class="card-body text-center p-5">
                    <i style="font-size: 100px;" class="fas fa-users"></i>
                </div>
            </div>
        </div>
        
        

    </div>

</div>


