<div class="animated fadeIn" >

    <div>

        <div class="row">
            <div class="
                        mt-1

                        col-4
                        col-sm-4
                        col-md-6
                        col-lg-8
            ">
    
                <h1 >Biologia</h1>
            </div>
    
            <div class=" w-100 mt-2 

                        col-8
                        col-sm-8
                        col-md-6
                        col-lg-4"
                        
                       >
    
                <div class=" animated fadeIn" style="float: right;">
                    
                    <button 
                     
                     class=" btn btn-success"
                     >                        
                     <i class="fas fa-chevron-left"></i>
                    </button>

                    <button 
                      class="btn btn-success ml-2 "                     
                     >                        
                     <i class="fas fa-chevron-right"></i>
                    </button>
                    
                    
                </div>
    
            </div>
    
        </div>
        
    <hr class="mb-3">

    <div class="row p-2" >

        <div class="question-window mb-3 
        
                    col-lg-8
                    col-md-7
                    col-sm-12
                    col-12
                    "
                >

                <h4 class="text-primary">Preguntaa</h4>
        </div>

        <div class="desc-window mb-3
        
                    col-lg-3 offset-lg-1
                    col-md-4 offset-md-1
                    col-sm-12
                    col-sm-12
                    "
                >

                <h4 class="text-warning">Descripcion del tema</h4>

        </div>


    </div>
</div>
