
.question-window{
    padding: 10px;
    width: 100%;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 20px;
  }

.desc-window{
    padding: 10px;
    width: 100%;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 20px;
  }

.no-drop{
  cursor: no-drop !important;
}

  .shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }

  
.but :hover {
  transform: scale(1.012);
}

.correct{
  background-color: rgba(0, 131, 11, 0.5) !important;
}
.incorrect{
  background-color: rgba(231, 23, 23, 0.5) !important;
}
.tCorrect{
  color:  rgb(5, 126, 15) !important;
}
.tIncorrect{
  color:  rgb(190, 40, 40) !important;
}

