<div class="animated fadeIn" >

    <div>

        <div class="row">
            <div class="
                        mt-1
                        col-4
                        col-sm-4
                        col-md-6
                        col-lg-8
            ">
    
                <h2 class="mt-1">{{currentTheme.title | uppercase }}</h2>
            </div>
    
            <div class=" w-100 mt-2 

                        col-8
                        col-sm-8
                        col-md-6
                        col-lg-4"
                        
                       >
    
                <div class=" animated fadeIn but" style="float: right;">
                    
                    <!-- <button (click)="previousQ()"
                    [style.background-color]='currentTheme.bgColor'
                    class=" btn "
                    [class.no-drop]="i == 0"
                    [disabled]="i == 0"
                     >                        
                     <i style="color: white;" class="fas fa-chevron-left "></i>
                    </button> -->

                    <button (click)="nextQ()"
                    [style.background-color]='currentTheme.bgColor'
                      class="btn  ml-2 " 
                      *ngIf="!finish"  
                      [class.no-drop]="!clicked"
                      [disabled]="!clicked"
                     >                        
                    Siguiente
                     <i style="color: white;" class="fas fa-chevron-right ml-1"></i>
                    </button>
                    <button (click)="themeFinished()"
                    [style.background-color]='currentTheme.bgColor'
                      class="btn  ml-2 "   
                      *ngIf="finish"  
                      [class.no-drop]="!clicked"
                      [disabled]="!clicked"
                     >                        
                     Finalizar
                     <i style="color: white;" class="fas fa-chevron-right ml-1"></i>
                    </button>
                    
                    
                </div>
    
            </div>
    
        </div>
        
    <hr class="mb-3">

    <div *ngIf="charg" class="alert alert-success" role="alert">
        Cargando... 
        <i class=" ml-1 fas fa-sync fa-spin"></i>
    </div>

    <div class="row p-2" style="color: white !important;" >

        <div [style.border-color]="currentTheme.bgColor" class="question-window mb-2
        
                    col-lg-7
                    col-md-12
                    col-sm-12
                    col-12
                    "
                >

                <h3  class="animated fadeIn mb-4" [style.color]="currentTheme.bgColor">{{currentQuestion[i].desc}}?</h3>

            <div class="px-3">

                <div *ngIf="clicked" class="animated fadeIn text-center">
<!--                     <h2 [ngClass]="{'tCorrect': correctQuestion, 'tIncorrect': incorrectQuestion}" >{{correctQuestion? 'HAS ACERTADO': 'TE HAS EQUIVOCADO'}}</h2> -->
                        
                        <div class="alert" role="alert" [ngClass]="{'incorrect': incorrectQuestion, 'correct': correctQuestion}">
                            Respuesta seleccionada: <b>{{qv.desc}}</b>
                        </div>

                        <b [ngClass]="{'tCorrect': correctQuestion, 'tIncorrect': incorrectQuestion}" >
                        <i style="font-size: 140px;" [ngStyle]="{'color: red !impportant;': incorrectQuestion, 'color: green !important': correctQuestion}" class="mt-2 fas" [ngClass]="{'fa-check-circle': correctQuestion, 'fa-times-circle': incorrectQuestion}"></i>
                    </b>
                </div>
                <div *ngIf="!clicked" class="but">
                    <button (click)="selectedQuestion(resp, p + 1)"
                    [ngClass]="{'incorrect': incorrectQuestion, 'correct': correctQuestion}"
                    class="animated fadeIn fast btn btn-block mb-4 shadow p-2"
                    [disabled]="clicked"
                    [class.no-drop]="clicked"
                    *ngFor="let resp of currentResps; let p = index" [style.background-color]="btnColor">
                    <b class="float-left">{{p + 1}}.</b>
                    <b> {{resp.desc}}
                         <i *ngIf="clicked" class="float-right mt-1 fas " [ngClass]="{'fa-check-circle': correctQuestion, 'fa-times-circle': incorrectQuestion}"></i>
                    </b>
                </button>
                </div>
                
                <div class="row">
                    <div class="col-3 mt-1">
                        
                        <h5 class="text-left" [style.color]="currentTheme.bgColor" >
                            #{{i + 1}}/20
                        </h5>
                    </div>
                    <div class="col-6 text-center mt-2">

                        <b><h5 *ngIf="clicked" [ngClass]="{'tCorrect': correctQuestion, 'tIncorrect': incorrectQuestion}" >{{correctQuestion? 'Elección correctaa!' : 'Elección incorrectaa!'}}</h5></b>
                    </div>
                    <div class="col-3 mt-1">

                        <h5 class="text-right" [style.color]="currentTheme.bgColor" > 
                        {{points}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div [style.border-color]="currentTheme.bgColor" class=" animated fadeIn fast desc-window mb-3
        
                    col-lg-4 offset-lg-1
                    col-md-12
                    col-sm-12
                    col-sm-12">

                <h4 [style.color]="currentTheme.bgColor" style="color: white;" >Descripcion del tema</h4>
                
                <p style="color: rgb(34, 34, 34);" class="mt-3">{{currentTheme.desc}}</p>
                
                <h4 [style.color]="currentTheme.bgColor" style="color: white; margin-top: 20px;" >Campeón del tema</h4>

                <div *ngIf="championLoad" class="alert alert-success" role="alert">
                    Cargando... 
                    <i class=" ml-1 fas fa-sync fa-spin"></i>
                </div>

                <div *ngIf="!championLoad" class="row mt-3">
                    <div class="col-2">

                        <div style="display: inline-block; background-color: whitesmoke; width: 50px; height: 50px; overflow: hidden; border-radius: 50%;">
                            <img class="img-fluid" src="{{user.foto == '' || user.foto == undefined? fotito: user.foto}}" >
                        </div>
                    </div>

                    <div class="col-6 mt-2">
                        <h6 style="display: inline-block;" class="ml-1">@{{user.user}}</h6>
                        <b class="p-1 badge ml-1" [style.boder-color]="btnColor" style="border: 1px solid;" [style.color]="btnColor" >
                            Puntos: {{score}}
                        </b>
                    </div>
                    <div class="col-2">
                        <button class="btn" (click)="visit(user.user)" [routerLink]="['/dashboard/profile', user.user]" [style.background-color]="btnColor">Visitar</button>
                    </div>
                </div>
        </div>


    </div>
</div>
