.footer-body{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.f-links {
    font-weight: bold;
}

.jpBg{
    background-color: rgba(241, 241, 241, 0.6);
    border-radius: 20px;
    padding-top: 10px ;
    padding-bottom: 10px ;
}