<div style="overflow-x: hidden; overflow-y: hidden;">

    <div class="footer-body text-center">
        
        <div class="row" style="color: rgb(87, 87, 87) !important;">
            
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center mt-2 mb-2">
                <h5 class="mb-2">CONTACTOS</h5>

                <div class="row">

                    <div class="col-6">

                        <h6>
                        <b>Lewis Matos</b>  
                        </h6> 
        
                        <a target="_blank" href="https://github.com/lewissmatos">                    
                            <i  style="font-size: 24px;" class="fab fa-github"></i>
                        </a>
                        <a target="_blank" href="https://instagram.com/lewissmatos">
                            <i style="font-size: 24px;" class="fab fa-instagram ml-3"></i> 
                        </a>
                        <a target="_blank" href="https://twitter.com/lewissmatos">                
                            <i style="font-size: 24px;" class="fab fa-twitter ml-3"></i>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/in/lewis-matos-b1a0111b1/">                
                            <i style="font-size: 24px;" class="fab fa-linkedin ml-3"></i>
                        </a>
                    </div>
                    
                    <div class="col-6">
                        
                        <h6>
                            <b>Eiron Díaz</b> 
                        </h6>   
                        <a target="_blank" href="https://github.com/eirondiaz">                    
                            <i style="font-size: 24px;" class="fab fa-github"></i>
                        </a>
                        <a target="_blank" href="https://instagram.com/eiron.js">
                            <i style="font-size: 24px;" class="fab fa-instagram ml-3"></i> 
                        </a>
                        <a target="_blank" href="https://twitter.com/eironrivas">                
                            <i style="font-size: 24px;" class="fab fa-twitter ml-3"></i>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/in/eiron-d%C3%ADaz-705841209/">                
                            <i style="font-size: 24px;" class="fab fa-linkedin ml-3"></i>
                        </a>
                    </div>

                </div>

            </div>
            
            <div class=" jpBg col-lg-6 col-md-6 col-sm-12 col-12 mt-2 mb-2" >
                <h5 class="mb-2" style="color: rgb(36, 36, 36);">JOPIPEDIA WEB APP</h5>

                <p>
                    <b>
                        Desarrollada por Lewis Matos y Eiron Díaz
                    </b>
                </p>
                <a target="_blank" href="https://github.com/lewissmatos/JopiPedia">                    
                    <i style="font-size: 34px;" class="fab fa-github"></i>
                </a>
                                           
            </div>

            
        </div>

        <p class="mb-3">
            All Rights Reserved ©
            <b>
                {{year}}
            </b> 
        </p>

    </div>

</div>