<div class="footer-body text-center">
    
    <h5 class="mb-3" style="color: rgb(36, 36, 36);">JOPIPEDIA WEB APP</h5>
    
    <div class="row" style="color: rgb(87, 87, 87) !important;">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
            <h4 class="mb-2">FRONTEND</h4>
            <p>
                Desarrollado por <a style="display: inline-block;" class="f-links" href="https://twitter.com/lewissmatos">Lewis Matos</a>
            </p> 
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-12  text-center">            
            <h4>BACKEND</h4>
            <p>
                Desarrollado por <a style="display: inline-block;" class="f-links" href="https://instagram.com/eiron.js">Eiron Díaz</a>
            </p>   
        </div>
    </div>

    <p>
        All Rights Reserved ©
        <b>
            {{year}}
        </b> 
    </p>

</div>